
body
{
    background-color: rgb(50, 50, 50);
    margin: 0;
}

section
{
    display: flex;
    margin: auto;
    padding: 5px;
    flex-wrap: wrap;

    max-width: 1000px;
}

#map
{
    height: 100%;
}

#interactive-map-tile
{
    margin: 0px;
}

#scrambled-map-tile
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: auto;
    background-color: rgb(30, 30, 30);
}

#drop-area-overlay
{
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2em;
}

#drop-area
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(30, 30, 30);
}

#downloaded-map
{
    width: 100%;
    height: 100%;
}

#map-container
{
    margin: 10px auto;
}

.tile
{
    width: 400px;
    height: 400px;
    border: 10px solid;
    border-radius: 10px;
    border-color: #87CF3E;
    margin: 10px auto;
}

.map-tile
{
    margin: 0;
    padding: 0;
}

.map-tile-slot
{
    padding: 0;
    margin: 0;
}